<div class="row">

{{page-numbers content=model showFL=true currentPage=page}}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |character|}}
    <tr>
      <td class="one-link">{{#link-to 'characters.show' character}}{{character.first_name}} {{character.last_name}}{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers content=model showFL=true currentPage=page}}

</div>
