<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class='navbar-brand'}}Linkpearl{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to 'characters' tagName='li'}}{{#link-to 'characters'}}Characters{{/link-to}}{{/link-to}}
        {{#link-to 'servers' tagName='li'}}{{#link-to 'servers'}}Servers{{/link-to}}{{/link-to}}
        {{#link-to 'grand-companies' tagName='li'}}{{#link-to 'grand-companies'}}GCs{{/link-to}}{{/link-to}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
