<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |server|}}
    <tr>
      <td class="one-link">{{#link-to 'servers.show' server}}{{server.name}}{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
