@import "bootstrap";

table {
  tbody {
    tr {
      td.one-link {
        padding: 0;

        a {
          display: block;
          padding: 8px;
        }
      }
    }
  }
}

.nothing-above {
  margin-top: 0;
  padding-top: 0;
}

.nothing-below {
  margin-bottom: 0;
  padding-bottom: 0;
}
