<div class="row">

<div class="col-md-9">
  {{pie-chart data=chartData maxNumberOfSlices=100 minSlicePercent=0 sortKey='label'}}
</div>

<div class="col-md-3">
  <form>
    <div class="checkbox">
      <label>
        {{input type='checkbox' checked=splitByClan}}
        Split by Clan
      </label>
    </div>
  </form>

  <hr />

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th width="10%">Members</th>
      </tr>
    </thead>
    <tbody>
      {{#each tableData as |race|}}
      <tr>
        <td>{{race.name}}</td>
        <td>{{race.num_characters}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

</div>
